{% extends 'base.html' %}

{% block title %}
Графики и диаграммы
{% endblock %}

{% block content %}

<div class="auth-container">
    <h1>Графики и диаграммы</h1>
    <div>


        <div class="profile-card" style="text-align: center;">
            <img src="/static/graph.png" alt="График">
            <p>Зависисмость точности на валидационных значениях от количества эпох обучения</p>
        </div>


        <div class="profile-card" style="text-align: center;">
            <img src="/static/chart1.png" alt="Диаграмма 1" style="max-width: 100%; height: auto; margin-bottom: 15px;">
            <p>диаграмма с отображением количества записей в наборе данных для обучения, относящхся к каждой цивилзаци</p>
        </div>


        <div class="profile-card" style="text-align: center;">
            <img src="/static/chart2.png" alt="Диаграмма 2" style="max-width: 100%; height: auto; margin-bottom: 15px;">
            <p>диаграмма с точностью определения каждой записи из текстового набора данных</p>
        </div>


        <div class="profile-card" style="text-align: center;">
            <img src="/static/chart3.png" alt="Диаграмма 3" style="max-width: 100%; height: auto; margin-bottom: 15px;">
            <p>диграмма с топом 5 наиболее часто встречающихся классов</p>
        </div>

    </div>
</div>
{% endblock %}