{% extends 'base.html' %}

{% block title %}
Информация о пользователе
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/style.css">

<h1>Информация о пользователе</h1>

<div class="auth-container">
    <div>
        <p><strong>Имя:</strong> {{ first_name }}</p>
        <p><strong>Фамилия:</strong> {{ last_name }}</p>
        <p><strong>Логин:</strong> {{ username }}</p>

        <form method="POST" action="/logout">
            <button type="submit" class="auth-bin">Выйти</button>
        </form>
    </div>
</div>

{% endblock %}